---
apiVersion: batch/v1
kind: Job
metadata:
  name: ${ELB_BLAST_PROGRAM}-batch-${ELB_DB_LABEL}-job-${JOB_NUM}
  labels:
    app: blast
    db: ${ELB_DB}
spec:
  template:
    metadata:
      labels:
        app: blast
        db: ${ELB_DB}
    spec:
      volumes:
      - name: blast-dbs
        persistentVolumeClaim:
          claimName: blast-dbs-pvc-rwm
          readOnly: false
      - name: scripts
        configMap:
          name: elb-scripts
          defaultMode: 0755
      activeDeadlineSeconds: ${ELB_BLAST_TIMEOUT}
      initContainers:
      - name: ${K8S_JOB_LOAD_BLASTDB_INTO_RAM}
        image: ${ELB_DOCKER_IMAGE}
        workingDir: /blast/blastdb
        volumeMounts:
        - name: blast-dbs
          mountPath: /blast/blastdb
          readOnly: false
        - name: scripts
          mountPath: /scripts
          readOnly: true
        env:
        - name: ELB_DB
          value: "${ELB_DB}"
        - name: ELB_DB_MOL_TYPE
          value: "${ELB_DB_MOL_TYPE}"
        command: ["/scripts/blast-vmtouch-aks.sh"]
      containers:
      - name: ${K8S_JOB_BLAST}
        image: ${ELB_DOCKER_IMAGE}
        workingDir: /blast/blastdb
        resources:
          requests:
            memory: "${ELB_MEM_REQUEST}"
            cpu: ${ELB_NUM_CPUS_REQ}
          limits:
            memory: "${ELB_MEM_LIMIT}"
            cpu: ${ELB_NUM_CPUS}
        volumeMounts:
        - name: blast-dbs
          mountPath: /blast/blastdb
          readOnly: false
        - name: scripts
          mountPath: /scripts
          readOnly: true
        env:
        - name: BLAST_USAGE_REPORT
          value: "${BLAST_USAGE_REPORT}"
        - name: BLAST_ELB_JOB_ID
          value: "${BLAST_ELB_JOB_ID}"
        - name: BLAST_ELB_BATCH_NUM
          value: "${BLAST_ELB_BATCH_NUM}"
        - name: BLAST_ELB_VERSION
          value: "${BLAST_ELB_VERSION}"
        - name: JOB_NUM
          value: "${JOB_NUM}"
        - name: ELB_BLAST_PROGRAM
          value: "${ELB_BLAST_PROGRAM}"
        - name: ELB_DB
          value: "${ELB_DB}"
        - name: ELB_NUM_CPUS
          value: "${ELB_NUM_CPUS}"
        - name: ELB_BLAST_OPTIONS
          value: "${ELB_BLAST_OPTIONS}"
        - name: ELB_RESULTS
          value: "${ELB_RESULTS}"
        - name: ELB_TIMEFMT
          value: "${ELB_TIMEFMT}"
        - name: ELB_DB_MOL_TYPE
          value: "${ELB_DB_MOL_TYPE}"
        - name: QUERY_DIR
          value: "/blast/blastdb"
        - name: RESULTS_DIR
          value: "/blast/blastdb/results"
        command: ["/scripts/blast-run-aks.sh"]
      - name: ${K8S_JOB_RESULTS_EXPORT}
        image: ${ELB_DOCKER_IMAGE}
        volumeMounts:
        - name: blast-dbs
          mountPath: /blast/blastdb
        - name: scripts
          mountPath: /scripts
          readOnly: true
        env:
        - name: JOB_NUM
          value: "${JOB_NUM}"
        - name: ELB_BLAST_PROGRAM
          value: "${ELB_BLAST_PROGRAM}"
        - name: ELB_DB
          value: "${ELB_DB}"
        - name: ELB_RESULTS
          value: "${ELB_RESULTS}"
        - name: RESULTS_DIR
          value: "/blast/blastdb/results"
        command: ["/scripts/results-export-aks.sh"]
      restartPolicy: OnFailure
  backoffLimit: 5
