---
apiVersion: batch/v1
kind: Job
metadata:
  name: init-pv-partitioned
  labels:
    app: setup
spec:
  template:
    metadata:
      labels:
        app: setup
    spec:
      volumes:
      - name: blast-dbs
        persistentVolumeClaim:
          claimName: blast-dbs-pvc-rwm
          readOnly: false
      - name: scripts
        configMap:
          name: elb-scripts
          defaultMode: 0755
      initContainers:
      - name: ${K8S_JOB_GET_BLASTDB}
        image: ${ELB_DOCKER_IMAGE}
        workingDir: /blast/blastdb
        volumeMounts:
        - name: blast-dbs
          mountPath: /blast/blastdb
          readOnly: false
        - name: scripts
          mountPath: /scripts
          readOnly: true
        env:
        - name: ELB_NUM_PARTITIONS
          value: "${ELB_NUM_PARTITIONS}"
        - name: ELB_PARTITION_PREFIX
          value: "${ELB_PARTITION_PREFIX}"
        command: ["/scripts/init-db-partitioned-aks.sh"]
      containers:
      - name: ${K8S_JOB_IMPORT_QUERY_BATCHES}
        image: ${ELB_IMAGE_QS}
        workingDir: /blast/queries
        volumeMounts:
        - name: blast-dbs
          mountPath: /blast/queries
          readOnly: false
        command: ["run.sh", "-i", "${INPUT_QUERY}", "-o", "${ELB_RESULTS}", "-b", "${BATCH_LEN}", "-c", "${COPY_ONLY}", "-q", "/blast/queries/"]
      restartPolicy: Never
  backoffLimit: 3
  activeDeadlineSeconds: ${TIMEOUT}
