---
apiVersion: batch/v1
kind: Job
metadata:
  name: init-pv
  labels:
    app: setup
spec:
  template:
    metadata:
      labels:
        app: setup
    spec:
      volumes:
      - name: blastdb
        persistentVolumeClaim:
          claimName: blast-dbs-pvc-rwm
          readOnly: false
      - name: scripts
        configMap:
          name: elb-scripts
          defaultMode: 0755
      containers:
      - name: ${K8S_JOB_GET_BLASTDB}
        image: ${ELB_DOCKER_IMAGE}
        workingDir: /blast/blastdb
        volumeMounts:
        - name: blastdb
          mountPath: /blast/blastdb
          readOnly: false
        - name: scripts
          mountPath: /scripts
          readOnly: true
        env:
        - name: BLAST_USAGE_REPORT
          value: "false"
        - name: ELB_DB
          value: "${ELB_DB}"
        - name: ELB_DB_PATH
          value: "${ELB_DB_PATH}"
        - name: ELB_BLASTDB_SRC
          value: "${ELB_BLASTDB_SRC}"
        - name: ELB_DB_MOL_TYPE
          value: "${ELB_DB_MOL_TYPE}"
        - name: ELB_TAXIDLIST
          value: "${ELB_TAXIDLIST}"
        - name: ELB_SKIP_DB_VERIFY
          value: "true"
        command: ["/scripts/init-db-download-aks.sh"]
      - name: ${K8S_JOB_IMPORT_QUERY_BATCHES}
        image: ${ELB_IMAGE_QS}
        workingDir: /blast/queries
        volumeMounts:
        - name: blastdb
          mountPath: /blast/queries
          subPath: queries
          readOnly: false
        command: ["run.sh", "-i", "${INPUT_QUERY}", "-o", "${ELB_RESULTS}", "-b", "${BATCH_LEN}", "-c", "${COPY_ONLY}", "-q", "/blast/queries/"]
      restartPolicy: Never
  backoffLimit: 9
  activeDeadlineSeconds: ${TIMEOUT}
