apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: blast-dbs-pvc-rwm
spec:
  accessModes:
    - ReadWriteMany
  storageClassName: azure-blob-nfs 
  resources:
    requests:
      storage: ${ELB_PD_SIZE}
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: blast-dbs-pvc-rwm-shared
spec:
  accessModes:
    - ReadWriteMany
  storageClassName: azure-blob-nfs-shared
  resources:
    requests:
      storage: ${ELB_PD_SIZE}
